<!doctype html>
<html lang="en-au">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <title property="og:title">{% if page.lang_title %}{{ page.lang_title }} · {% endif %}{{ site.name }}</title>
        <link href="//fonts.googleapis.com/css?family=Roboto+Slab:400" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ site.url }}/static/style.css">

        <link rel="icon" type="image/png" href="{{ site.url }}/static/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ site.url }}/static/favicon-16x16.png" sizes="16x16" />
    </head>
    <body itemscope itemtype="http://schema.org/TechArticle">

        {% include layout_partials/head.html %}
        <main class="article-body wrap" id="content" itemprop="articleBody" lang="{{ page.lang }}">
            {{ content }}
        </main>
        {% include layout_partials/foot.html %}

        <script src="{{ site.url }}/static/scripts.js"></script>
    </body>
</html>
